<form [formGroup]="updateForm" (ngSubmit)="updateFlight()">
  <div class="has-error" *ngIf="updateForm.hasError('identicalAirports')">
    The two airports must not be identical!
  </div>
  <div>
    <div class="row">
      <fieldset class="col-md-12">
        <label>Flight Number:</label>
        <input type="text" class="number" formControlName="flightNumber">

        <ng-container *ngIf="updateForm.controls.flightNumber.errors">
                    <span class="error-msg" *ngIf="updateForm.controls.flightNumber.hasError('required')">
                        The flight number is required
                    </span>
          <span class="error-msg" *ngIf="updateForm.controls.flightNumber.hasError('pattern')">
                        The value {{updateForm.controls.flightNumber.value}} is not three digits
                    </span>
        </ng-container>
      </fieldset>
    </div>
    <div class="row">
      <div class="col-md-5">
        <fieldset>
          <label>Flight Origin:</label>
          <input size="30" type="text" class="origin" formControlName="flightOrigin">

          <ng-container *ngIf="updateForm.controls.flightOrigin.errors">
                    <span class="error-msg" *ngIf="updateForm.controls.flightOrigin.hasError('required')">
                        The origin airport is required
                    </span>
            <span class="error-msg" *ngIf="updateForm.controls.flightOrigin.hasError('pattern')">
                        The value {{updateForm.controls.flightOrigin.value}} contains characters other than letters and spaces
                    </span>
          </ng-container>
        </fieldset>
        <fieldset>
          <label>Departure Time:</label>
          <input size="30" type="date"
                 [ngModel]="updateForm.controls.departureTime.value | date:'yyyy-MM-dd'"
                 (ngModelChange)="updateForm.controls.departureTime.setValue($event)"
                 [ngModelOptions]="{standalone: true}">

          <span class="error-msg"
                *ngIf="updateForm.controls.departureTime.errors">The origin airport is required</span>
        </fieldset>
      </div>
      <div class="col-md-5">
        <fieldset>
          <label>Flight Destination:</label>
          <input size="30" class="destination" type="text" formControlName="flightDestination">

          <ng-container *ngIf="updateForm.controls.flightDestination.errors">
                    <span class="error-msg" *ngIf="updateForm.controls.flightDestination.hasError('required')">
                        The destination airport is required
                    </span>
            <span class="error-msg" *ngIf="updateForm.controls.flightDestination.hasError('pattern')">
                        The value {{updateForm.controls.flightDestination.value}}
                        contains characters other than letters and spaces
                    </span> q
          </ng-container>
        </fieldset>
        <fieldset>
          <label>Arrival Time:</label>
          <input size="30" type="date"
                 [ngModel]="updateForm.controls.arrivalTime.value | date:'yyyy-MM-dd'"
                 (ngModelChange)="updateForm.controls.arrivalTime.setValue($event)"
                 [ngModelOptions]="{standalone: true}">

          <span class="error-msg"
                *ngIf="updateForm.controls.departureTime.errors">The origin airport is required</span>
        </fieldset>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <fieldset>
          <input class="btn btn-success update submit" type="submit" [disabled]="!updateForm.valid" value="Update Flight"/>
        </fieldset>
      </div>
    </div>
  </div>
</form>
