<div class="container mt-3">
  <h1>ReactiveX Examples</h1>
  <div class="row">
    <div class="col-auto bg-light border-dark">
      <ul><li><a routerLink="/creating">Creating</a></li></ul>
      <ul><li><a routerLink="/observing">Observing</a></li></ul>
      <ul><li><a routerLink="/filtering">Filtering</a></li></ul>
      <ul><li><a routerLink="/transforming">Transforming</a></li></ul>
      <ul><li><a routerLink="/mouse-events">Mouse Events</a></li></ul>
    </div>
    <div class="col ml-2">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
