<h2>Our Training Portfolio</h2>
<section>
  <span>Current messages:&nbsp;&nbsp;</span>
  <mark>{{ status }}</mark>
</section>
<div *ngIf="someCourseSelected">
  <app-course-detail-viewer [selected]="selectedCourse"></app-course-detail-viewer>
</div>
<table>
  <thead>
  <tr>
    <th>ID</th>
    <th>Title</th>
    <th colspan="3"></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let course of courses"
      app-course-row-display
      [course]="course"
      (courseSelected)="courseSelected($event)"
      (courseDeleted)="courseDeleted($event)"
      (courseUpdated)="courseChosenForUpdate($event)">
  </tr>
  </tbody>
</table>
<div *ngIf="courseBeingUpdated">
  <app-course-update-form [course]="courseForUpdate"
                          (updateComplete)="courseUpdated($event)">
  </app-course-update-form>
</div>
