<hr/>
<h2>Use the form below to update {{ course.id }}</h2>
<form [formGroup]="updateForm" (ngSubmit)="updateCourse()">
  <fieldset>
    <label>Course ID:</label>
    <input type="text" formControlName="courseId">
    <span class="error-msg"
          *ngIf="updateForm.controls.courseId.errors">
            The Course ID is required
        </span>
  </fieldset>
  <fieldset>
    <label>Course Title:</label>
    <input size="30" type="text" formControlName="courseTitle">
    <span class="error-msg"
          *ngIf="updateForm.controls.courseTitle.errors">The Course Title is required</span>
  </fieldset>
  <fieldset>
    <label>Course Type:</label>
    <select formControlName="courseDifficulty">
      <option *ngFor="let type of courseTypes" [value]="type.value">{{type.name}}</option>
    </select>
  </fieldset>
  <fieldset>
    <label>Length of Course:</label>
    <input type="number" formControlName="courseDuration" min="1" max="5">
  </fieldset>
  <fieldset>
    <input type="submit" [disabled]="!updateForm.valid" value="Update Course"/>
  </fieldset>
</form>
